__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db

.ipynb_checkpoints/
*/.ipynb_checkpoints/

math_vlm_adapter/

*.png
*.jpg
*.jpeg
*.tex
*.txt
*.zip

venv/
env/
.env/
.venv/
finetune_hub-20260105T134423Z-1-001/
fine-tuning-llms-scope/
vee/
archives/